extends ../common.pug
block content
  p 
    b Id:
    span &nbsp 
    span #{users.id}
  p  
    b Name:
    span &nbsp 
    span #{users.name}
  p 
    b Phone:
    span &nbsp 
    span #{users.phone}
  p 
    b Mail:
    span &nbsp 
    span #{users.mail}
  p 
    b Password:
    span &nbsp 
    span #{users.password}
  p 
    b isAdmin:
    span &nbsp 
    span #{users.isAdmin}